/* Tooltips.css */

button.tooltip-toggle {
  transition: all 0.2s ease-in-out;
}

button.tooltip-toggle:hover {
  color: #616161!important;
}

.tooltip.bs-tooltip-top {
  overflow: none;
}

.tooltip.bs-tooltip-top > .tooltip-inner,
.tooltip.bs-tooltip-bottom > .tooltip-inner {
  background-color: #000;
  color: #fff;
  border: 1px solid rgba(255,255,255,0.05);
  box-shadow: 0 2px 18px rgba(0,0,0,0.45);
  border-radius: 8px;
  padding: 32px 40px;
  font-size: 15px;
  max-width: 450px;
  margin-right: 10px;
  text-align: left;
}

.tooltip.bs-tooltip-top > .tooltip-inner > div,
.tooltip.bs-tooltip-bottom > .tooltip-inner > div {
  margin-bottom: 8px;
}

.tooltip.bs-tooltip-top > .tooltip-inner > div > span,
.tooltip.bs-tooltip-bottom > .tooltip-inner > div > span {
  display: inline-block;
  margin-bottom: 4px;
}

.tooltip.bs-tooltip-top > .tooltip-inner > p,
.tooltip.bs-tooltip-bottom > .tooltip-inner > p {
  font-size: 14px;
  margin-bottom: 4px;
  color: #bdbdbd;
}

.tooltip.bs-tooltip-top .arrow:before {
  border-top-color: #000;
}

.tooltip.show {
  opacity: 1!important;
}
