/* App.css */

.navbar-brand {
  margin-right: auto;
  margin-left: auto;
}

.navbar-brand-img {
  width: 135px;
}

.quote {
  font-size: 2.05rem;
}

/*.lead {
  opacity: 0.9;
}
*/

.text-footer {
  font-size: 80%;
}

.anima-slidein {
  animation-name: slidein;
  animation-duration: 1.3s;
}

.anima-fadein {
  animation-name: anima-fadein;
  animation-duration: 2.3s;
  animation-fill-mode: forwards;
}

.anima-fadein-delay-1700 {
  animation-delay: 1700ms;
  opacity: 0;
}

@keyframes slidein {
  from {
    padding-top: 55px;
  }
  to {
    padding-top: 0px;
  }
}

@keyframes anima-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes anima-fadein-delay-1700 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .quote {
    font-size: 2.5rem; /* Reset back to default */
  }
  /*.lead {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }*/
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /*.lead {
    font-size: 1.35rem;
    margin-bottom: 2.5rem;
  }*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-brand {
    margin-left: 0;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* Extra Extra small devices devices */
@media (max-width:348px) {}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  /*.lead {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
  }*/
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {}

/* Extra large devices (large desktops)*/
/* No media query since the extra-large breakpoint has no upper bound on its width */

/* Typography testing */
/* .typetemplate-boxy classes are for typography testing purposes only */
/*
.typetemplate-boxy-img-box {
  height: 325px;
  background-color: #212121;
  margin: 2.75rem auto;
}

.typetemplate-boxy-line {
  height: 1px;
  width: 50%;
  background-color: #555;
  margin: 5.5rem auto;
}
*/
/* End typography testing */